IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserDetails]') AND type in (N'U'))
ALTER TABLE [dbo].[UserDetails] DROP CONSTRAINT IF EXISTS [FK_UserDetails_AspNetUsers]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT IF EXISTS [FK_Employees_Employees]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT IF EXISTS [FK_Employees_Department]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT IF EXISTS [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlbumGenre]') AND type in (N'U'))
ALTER TABLE [dbo].[AlbumGenre] DROP CONSTRAINT IF EXISTS [FK_AlbumGenre_Genre]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlbumGenre]') AND type in (N'U'))
ALTER TABLE [dbo].[AlbumGenre] DROP CONSTRAINT IF EXISTS [FK_AlbumGenre_Album]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlbumArtist]') AND type in (N'U'))
ALTER TABLE [dbo].[AlbumArtist] DROP CONSTRAINT IF EXISTS [FK_AlbumArtist_Artist]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlbumArtist]') AND type in (N'U'))
ALTER TABLE [dbo].[AlbumArtist] DROP CONSTRAINT IF EXISTS [FK_AlbumArtist_Album]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Album]') AND type in (N'U'))
ALTER TABLE [dbo].[Album] DROP CONSTRAINT IF EXISTS [FK_Album_Label]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Album]') AND type in (N'U'))
ALTER TABLE [dbo].[Album] DROP CONSTRAINT IF EXISTS [FK_Album_Format]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Album]') AND type in (N'U'))
ALTER TABLE [dbo].[Album] DROP CONSTRAINT IF EXISTS [FK_Album_AlbumStatus]
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP INDEX IF EXISTS [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP INDEX IF EXISTS [IX_UserId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP INDEX IF EXISTS [IX_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP INDEX IF EXISTS [IX_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP INDEX IF EXISTS [IX_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP INDEX IF EXISTS [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[UserDetails]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Label]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Genre]
GO
/****** Object:  Table [dbo].[Format]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Format]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Department]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Artist]
GO
/****** Object:  Table [dbo].[AlbumStatus]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AlbumStatus]
GO
/****** Object:  Table [dbo].[AlbumGenre]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AlbumGenre]
GO
/****** Object:  Table [dbo].[AlbumArtist]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[AlbumArtist]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[Album]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP TABLE IF EXISTS [dbo].[__MigrationHistory]
GO
/****** Object:  Database [RecordStore]    Script Date: 1/13/2022 9:34:49 PM ******/
DROP DATABASE IF EXISTS [RecordStore]
GO
/****** Object:  Database [RecordStore]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE DATABASE [RecordStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RecordStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RecordStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RecordStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RecordStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecordStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecordStore]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[AlbumID] [int] IDENTITY(1,1) NOT NULL,
	[AlbumName] [nvarchar](50) NOT NULL,
	[ReleaseYear] [date] NULL,
	[Description] [nvarchar](max) NULL,
	[LabelID] [int] NOT NULL,
	[CompilationAlbum] [bit] NOT NULL,
	[CatalogNum] [nvarchar](25) NULL,
	[Price] [money] NULL,
	[IsInPrint] [bit] NOT NULL,
	[FormatID] [int] NOT NULL,
	[UnitsInStock] [int] NULL,
	[AlbumStatusID] [int] NOT NULL,
	[AlbumImage] [varchar](100) NULL,
	[Num] [int] NULL,
	[Tracks] [int] NULL,
	[IsFeatured] [bit] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[AlbumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumArtist]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumArtist](
	[AlbumArtistID] [int] IDENTITY(1,1) NOT NULL,
	[AlbumID] [int] NOT NULL,
	[ArtistID] [int] NOT NULL,
	[PrimaryArtist] [bit] NULL,
 CONSTRAINT [PK_AlbumArtist] PRIMARY KEY CLUSTERED 
(
	[AlbumArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumGenre]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumGenre](
	[AlbumGenreID] [int] IDENTITY(1,1) NOT NULL,
	[AlbumID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
 CONSTRAINT [PK_AlbumGenre] PRIMARY KEY CLUSTERED 
(
	[AlbumGenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlbumStatus]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumStatus](
	[AlbumStatusID] [int] IDENTITY(1,1) NOT NULL,
	[AlbumStatusName] [nvarchar](max) NULL,
	[StatusNotes] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AlbumStatus] PRIMARY KEY CLUSTERED 
(
	[AlbumStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artist]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artist](
	[ArtistID] [int] IDENTITY(1,1) NOT NULL,
	[ArtistName] [nvarchar](50) NOT NULL,
	[IsStillActive] [bit] NOT NULL,
 CONSTRAINT [PK_Artist] PRIMARY KEY CLUSTERED 
(
	[ArtistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [char](15) NOT NULL,
	[DeptDescription] [nvarchar](100) NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](25) NOT NULL,
	[Position] [char](20) NULL,
	[PayRate] [money] NULL,
	[IsFullTime] [bit] NOT NULL,
	[Address] [nvarchar](50) NULL,
	[City] [nvarchar](25) NULL,
	[State] [char](2) NULL,
	[ZipCode] [nvarchar](10) NULL,
	[Phone] [nvarchar](24) NULL,
	[Birthday] [datetime] NULL,
	[HireDate] [datetime] NULL,
	[DirectReportID] [int] NULL,
	[DepartmentID] [int] NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Format]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Format](
	[FormatID] [int] IDENTITY(1,1) NOT NULL,
	[FormatType] [nvarchar](25) NOT NULL,
	[MultiFormat] [bit] NOT NULL,
 CONSTRAINT [PK_Format] PRIMARY KEY CLUSTERED 
(
	[FormatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [char](25) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Label]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[LabelID] [int] IDENTITY(1,1) NOT NULL,
	[LabelName] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NULL,
	[IsStillDistributing] [bit] NOT NULL,
 CONSTRAINT [PK_Label] PRIMARY KEY CLUSTERED 
(
	[LabelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDetails]    Script Date: 1/13/2022 9:34:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDetails](
	[UserID] [nvarchar](128) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Interests] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserDetails] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Album] ON 

INSERT [dbo].[Album] ([AlbumID], [AlbumName], [ReleaseYear], [Description], [LabelID], [CompilationAlbum], [CatalogNum], [Price], [IsInPrint], [FormatID], [UnitsInStock], [AlbumStatusID], [AlbumImage], [Num], [Tracks], [IsFeatured], [Year]) VALUES (1, N'Woodstock 1994', CAST(N'1994-01-01' AS Date), N'Live at the Woodstock 1994 Festival + MTV Unplugged 1990', 1, 1, N'OCTO-040/041', 28.9900, 0, 1, 2, 1, N'AeroWoodstock94.jpg', 2, 27, NULL, 1994)
INSERT [dbo].[Album] ([AlbumID], [AlbumName], [ReleaseYear], [Description], [LabelID], [CompilationAlbum], [CatalogNum], [Price], [IsInPrint], [FormatID], [UnitsInStock], [AlbumStatusID], [AlbumImage], [Num], [Tracks], [IsFeatured], [Year]) VALUES (2, N'House On Fire', CAST(N'1995-01-01' AS Date), N'Live recording of Aerosmith''s imfamous grand opening performance at a small club in Boston 12/19/94', 1, 0, N'OCTO-071', 21.9900, 0, 1, 5, 1, N'AeroHouseOnFire.jpg', 1, 15, NULL, 1995)
INSERT [dbo].[Album] ([AlbumID], [AlbumName], [ReleaseYear], [Description], [LabelID], [CompilationAlbum], [CatalogNum], [Price], [IsInPrint], [FormatID], [UnitsInStock], [AlbumStatusID], [AlbumImage], [Num], [Tracks], [IsFeatured], [Year]) VALUES (3, N'Last True Document', CAST(N'2002-01-01' AS Date), N'Live at Upper Darby, PA 3/26/78 + Central Park, NY 8/29/75', 3, 1, N'PB-109/110', 25.9900, 1, 1, 3, 1, N'AeroLastTrueDoc.jpg', 2, 24, NULL, 2002)
SET IDENTITY_INSERT [dbo].[Album] OFF
GO
SET IDENTITY_INSERT [dbo].[AlbumArtist] ON 

INSERT [dbo].[AlbumArtist] ([AlbumArtistID], [AlbumID], [ArtistID], [PrimaryArtist]) VALUES (1, 1, 1, 1)
INSERT [dbo].[AlbumArtist] ([AlbumArtistID], [AlbumID], [ArtistID], [PrimaryArtist]) VALUES (2, 2, 1, 1)
INSERT [dbo].[AlbumArtist] ([AlbumArtistID], [AlbumID], [ArtistID], [PrimaryArtist]) VALUES (3, 3, 1, 1)
SET IDENTITY_INSERT [dbo].[AlbumArtist] OFF
GO
SET IDENTITY_INSERT [dbo].[AlbumGenre] ON 

INSERT [dbo].[AlbumGenre] ([AlbumGenreID], [AlbumID], [GenreID]) VALUES (1, 1, 1)
INSERT [dbo].[AlbumGenre] ([AlbumGenreID], [AlbumID], [GenreID]) VALUES (2, 1, 4)
INSERT [dbo].[AlbumGenre] ([AlbumGenreID], [AlbumID], [GenreID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[AlbumGenre] OFF
GO
SET IDENTITY_INSERT [dbo].[AlbumStatus] ON 

INSERT [dbo].[AlbumStatus] ([AlbumStatusID], [AlbumStatusName], [StatusNotes]) VALUES (1, N'In-Stock', NULL)
INSERT [dbo].[AlbumStatus] ([AlbumStatusID], [AlbumStatusName], [StatusNotes]) VALUES (2, N'Out Of Stock', NULL)
INSERT [dbo].[AlbumStatus] ([AlbumStatusID], [AlbumStatusName], [StatusNotes]) VALUES (3, N'Back-Order', N'In-Stock Date Unknown')
SET IDENTITY_INSERT [dbo].[AlbumStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Artist] ON 

INSERT [dbo].[Artist] ([ArtistID], [ArtistName], [IsStillActive]) VALUES (1, N'Aerosmith', 1)
INSERT [dbo].[Artist] ([ArtistID], [ArtistName], [IsStillActive]) VALUES (2, N'AC/DC', 1)
INSERT [dbo].[Artist] ([ArtistID], [ArtistName], [IsStillActive]) VALUES (3, N'Blackberry Smoke', 1)
SET IDENTITY_INSERT [dbo].[Artist] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'173ffe4b-d3f5-4d34-ab53-bb18ddf775bc', N'Admin')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'549d3998-bd90-4a5f-a8ab-b401f01e3df2', N'173ffe4b-d3f5-4d34-ab53-bb18ddf775bc')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'57882b04-53fe-4c94-b4d2-b0ec2b76f9e6', N'173ffe4b-d3f5-4d34-ab53-bb18ddf775bc')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'549d3998-bd90-4a5f-a8ab-b401f01e3df2', N'admin@recklessrecords.com', 0, N'AOxkqWM4eqGzsEjsCyJhZPLlYbAnGpZX+r8dMnVncXjkdFqGVUjBsIZaYFevTHbh4g==', N'2121151a-ecb9-4a66-91fe-4645b4a6cb03', NULL, 0, 0, NULL, 1, 0, N'admin@recklessrecords.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'57882b04-53fe-4c94-b4d2-b0ec2b76f9e6', N'guest@email.com', 0, N'AIjIg/YEgsdV75i2Pk2J+9GoBQbTQLJ2g1j2mCjW1fkpojofbCenKZlhqaiNaKc50Q==', N'e4f2fe7d-b4d6-4646-9c4c-c367917501b3', NULL, 0, 0, NULL, 1, 0, N'guest@email.com')
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DeptDescription]) VALUES (1, N'Administration ', N'Owner, Management, and Billing/Payroll')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DeptDescription]) VALUES (2, N'Sales          ', N'Cashiers')
INSERT [dbo].[Department] ([DepartmentID], [DepartmentName], [DeptDescription]) VALUES (3, N'Distribution   ', N'Shipping & receiving')
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Position], [PayRate], [IsFullTime], [Address], [City], [State], [ZipCode], [Phone], [Birthday], [HireDate], [DirectReportID], [DepartmentID]) VALUES (1, N'Michael', N'Tullis', N'Owner/CEO           ', NULL, 1, N'18911 E 16th St', N'Independence', N'MO', N'64058', N'816-555-3241', CAST(N'1981-03-07T00:00:00.000' AS DateTime), CAST(N'2020-12-31T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Position], [PayRate], [IsFullTime], [Address], [City], [State], [ZipCode], [Phone], [Birthday], [HireDate], [DirectReportID], [DepartmentID]) VALUES (2, N'Ace', N'Tullis', N'Webmaster           ', NULL, 1, N'18911 E 16th St', N'Independence', N'MO', N'64058', N'816-555-3242', CAST(N'1981-03-07T00:00:00.000' AS DateTime), CAST(N'2020-12-31T00:00:00.000' AS DateTime), NULL, 4)
INSERT [dbo].[Employee] ([EmployeeID], [FirstName], [LastName], [Position], [PayRate], [IsFullTime], [Address], [City], [State], [ZipCode], [Phone], [Birthday], [HireDate], [DirectReportID], [DepartmentID]) VALUES (3, N'Steven', N'Tallarico', N'Sales Manager       ', NULL, 1, N'101 Tyler Dr.', N'Lake Sunapee', N'NH', N'03782', N'913-555-0326', CAST(N'1948-03-26T00:00:00.000' AS DateTime), CAST(N'2021-11-13T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Format] ON 

INSERT [dbo].[Format] ([FormatID], [FormatType], [MultiFormat]) VALUES (1, N'CD', 1)
INSERT [dbo].[Format] ([FormatID], [FormatType], [MultiFormat]) VALUES (2, N'ProCDR', 0)
INSERT [dbo].[Format] ([FormatID], [FormatType], [MultiFormat]) VALUES (3, N'Vinyl', 1)
SET IDENTITY_INSERT [dbo].[Format] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreID], [GenreName]) VALUES (1, N'Rock                     ')
INSERT [dbo].[Genre] ([GenreID], [GenreName]) VALUES (2, N'Hard Rock                ')
INSERT [dbo].[Genre] ([GenreID], [GenreName]) VALUES (3, N'Southern-Rock            ')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Label] ON 

INSERT [dbo].[Label] ([LabelID], [LabelName], [Country], [IsStillDistributing]) VALUES (1, N'Octopus Records', N'Italy', 0)
INSERT [dbo].[Label] ([LabelID], [LabelName], [Country], [IsStillDistributing]) VALUES (2, N'Bondage Records', N'Japan', 1)
INSERT [dbo].[Label] ([LabelID], [LabelName], [Country], [IsStillDistributing]) VALUES (3, N'Polar Bear Records', N'Japan', 1)
SET IDENTITY_INSERT [dbo].[Label] OFF
GO
INSERT [dbo].[UserDetails] ([UserID], [FirstName], [LastName], [Interests]) VALUES (N'549d3998-bd90-4a5f-a8ab-b401f01e3df2', N'Michael', N'Tullis', N'Music, Muscle Cars, Cigars, and Loud Guitars')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 1/13/2022 9:34:49 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_AlbumStatus] FOREIGN KEY([AlbumStatusID])
REFERENCES [dbo].[AlbumStatus] ([AlbumStatusID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_AlbumStatus]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Format] FOREIGN KEY([FormatID])
REFERENCES [dbo].[Format] ([FormatID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Format]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_Label] FOREIGN KEY([LabelID])
REFERENCES [dbo].[Label] ([LabelID])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_Label]
GO
ALTER TABLE [dbo].[AlbumArtist]  WITH CHECK ADD  CONSTRAINT [FK_AlbumArtist_Album] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[Album] ([AlbumID])
GO
ALTER TABLE [dbo].[AlbumArtist] CHECK CONSTRAINT [FK_AlbumArtist_Album]
GO
ALTER TABLE [dbo].[AlbumArtist]  WITH CHECK ADD  CONSTRAINT [FK_AlbumArtist_Artist] FOREIGN KEY([ArtistID])
REFERENCES [dbo].[Artist] ([ArtistID])
GO
ALTER TABLE [dbo].[AlbumArtist] CHECK CONSTRAINT [FK_AlbumArtist_Artist]
GO
ALTER TABLE [dbo].[AlbumGenre]  WITH CHECK ADD  CONSTRAINT [FK_AlbumGenre_Album] FOREIGN KEY([AlbumID])
REFERENCES [dbo].[Album] ([AlbumID])
GO
ALTER TABLE [dbo].[AlbumGenre] CHECK CONSTRAINT [FK_AlbumGenre_Album]
GO
ALTER TABLE [dbo].[AlbumGenre]  WITH CHECK ADD  CONSTRAINT [FK_AlbumGenre_Genre] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([GenreID])
GO
ALTER TABLE [dbo].[AlbumGenre] CHECK CONSTRAINT [FK_AlbumGenre_Genre]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employees_Department]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Employees] FOREIGN KEY([DirectReportID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [dbo].[UserDetails]  WITH CHECK ADD  CONSTRAINT [FK_UserDetails_AspNetUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserDetails] CHECK CONSTRAINT [FK_UserDetails_AspNetUsers]
GO
