@model RecordStore.Data.EF.Label

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "LabelDeleteForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <h4 class="text-center text-danger">Are you sure you want to delete?</h4>
        </div>
        <div class="col-md-12">
            <input type="submit" value="Delete Label" class="btn btn-dark" />
        </div>
    </div>
}

