<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Added to protect sensitive data from being committed to Source Control-->
  
  <add key="EmailClient" value="mail.miketullis.com"/>
  <!--Email User from smarterasp.net-->
  <add key="EmailUser" value="admin@miketullis.com"/>
  <!--Email Password from smarterasp.net-->
  <add key="EmailPass" value="P@ssw0rd"/>
  <!--Email to deliver messages to-->
  <add key="EmailTo" value="mike_tullis@outlook.com"/>

</appSettings>