<connectionStrings>
  <!--REMOTE DB CONNECTION-->
  <add name="RecordStoreEntities" connectionString="metadata=res://*/RecordStore.csdl|res://*/RecordStore.ssdl|res://*/RecordStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5091.site4now.net;Initial Catalog=db_a7884b_recordstore;User Id=db_a7884b_recordstore_admin;Password=Restless-1&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=SQL5091.site4now.net;Initial Catalog=db_a7884b_recordstore;User Id=db_a7884b_recordstore_admin;Password=Restless-1" providerName="System.Data.SqlClient" />

  <!--LOCAL DB CONNECTION-->
  <!--<add name="RecordStoreEntities" connectionString="metadata=res://*/RecordStore.csdl|res://*/RecordStore.ssdl|res://*/RecordStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=RecordStore;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=.\sqlexpress;Initial Catalog=RecordStore;Integrated Security=true" providerName="System.Data.SqlClient" />-->
</connectionStrings>