/*wrapper/container for footer placement*/
#rrWrapper {
    padding-top: 150px; /*height of header*/
    padding-left: 20%;
    padding-right: 20%;
    min-height: calc(100vh - 222px); /*height of footer*/
}

#rrContainer {
    position: relative;
    min-height: 100vh;
}


.navbar-nav .dropdown-menu {
    /*position: static;*/
    float: none;
    color: white;
    background-color: #232323;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-right {
    display: inline-block;
    align-content: center;
    color: white;
    background-color: #232323;
    text-align: center;
    right: 0;
}

    .navbar-right hr {
        border-top: 1.5px solid rgb(255,0,0);
        margin: 10px 0 10px 0;
    }

.navbar-nav .dropdown-menu a {
    color: white;
    text-align: center;
    margin: auto;
}

.dropdown-menu {
    /*position: absolute;*/
    top: 100%;
    left: initial;
    z-index: 1000;
    display: none;
    min-width: 5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: -1.1rem 2px 2px -1rem;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

#albumArt {
    box-shadow: 0 5px 8px 3px #808080;
}

#contactConfirm {
    display: none;
}

.conForm{
padding-bottom: 1.5em;
}

#adminNav {
    padding-bottom: 8em;
}

#adminNav a {
    color: white;
}

label {
    font-weight: bold;
}

div.row{
   padding-left: 15px;
}

.textSwell {
    font-size: 1rem;
}


/*dropdown with checkboxes*/
.selectBox {
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
    width: 100%;
}

    .selectBox select {
        width: 100%;
        border: none;
     }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkArtists, #checkGenres {
    display: none;
}

    #checkArtists label, #checkGenres label {
        display: block;
    }

        #checkArtists label:hover, #checkGernes label:hover {
            background-color: #1e90ff;
        }