/*wrapper/container for footer placement*/
#rrWrapper {
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    min-height: calc(100vh - 302px); /*height of footer & header*/
}

#rrContainer {
    position: relative;
    padding-top: 80px; /*height of header*/
    min-height: 100vh;
}

#MessageDisplay {
    padding-left: 20%;
    padding-right: 20%;
}

.navbar-nav .dropdown-menu {
    /*position: static;*/
    float: none;
    color: white;
    background-color: #232323;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-right {
    display: inline-block;
    align-content: center;
    color: white;
    background-color: #232323;
    text-align: center;
    right: 0;
}

    .navbar-right hr {
        border-top: 1.5px solid rgb(255,0,0);
        margin: 10px 0 10px 0;
    }

.navbar-nav .dropdown-menu a {
    color: white;
    text-align: center;
    margin: auto;
}

.dropdown-menu {
    /*position: absolute;*/
    top: 100%;
    left: initial;
    z-index: 1000;
    display: none;
    min-width: 5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: -1.1rem 2px 2px -1rem;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

#albumArt {
    box-shadow: 0 5px 8px 3px #808080;
    /*margin-bottom: 2em;*/
}

.albumArtBG {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    height: auto;
}


.feature-image {
    box-shadow: 0 5px 8px 3px #808080;
}

#contactConfirm {
    display: none;
}

.conForm {
    padding-bottom: 1.5em;
}

#adminNav {
    padding-bottom: 8em;
}

    #adminNav a {
        color: white;
    }

label {
    font-weight: bold;
}


.textSwell {
    font-size: 1rem;
}


.banner {
    padding-top: 0;
}

.btn-dark {
    min-width: 80px;
}




/*AJAX Popup Dialog Styling*/
.ui-widget-header {
    border: 1px solid #dddddd;
    background-color: #23272B;
    color: white;
    font-weight: bold;
}

.ui-widget-content a.btn-dark {
    color: white;
}

/*dropdown with checkboxes*/
.selectBox {
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #fff;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
    width: 100%;
}

    .selectBox select {
        width: 100%;
        border: none;
    }

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkArtists, #checkGenres {
    display: none;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    z-index: 99;
    width: auto;
    max-height: 125px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 1px 8px 2px #cfcaca;
}

ul #checkArtists, ul #checkGenres {
    display: none;
    background-color: gray;
}

#checkArtists label, #checkGenres label {
    display: block;
}

    #checkArtists label:hover, #checkGernes label:hover {
        background-color: #1e90ff;
    }

.pagination {
    margin: unset;
}

.pagination-container {
    display: inline-block;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #23272B;
    border-color: #23272B
}

.pagination a {
    color: #23272B;
    border-color: #23272B
}

.psLeft {
    float: left;
}

.psRight {
    float: right;
}

.pageCount {
    padding-left: 10px;
    position: relative;
    bottom: 13px;
}

#checkerror, #radioerror {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: unset;
}

.btn-pull-right {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.pr-pull-left {
    position: absolute;
    bottom: 20px;
}

.calcWidth {
    width: calc(100% - 160px);
}

.ArtistCreate {
    position: absolute;
    bottom: 0;
    right: 15px;
}

dd {
    margin-bottom: 1rem;
    margin-left: 0;
}

.btn-light {
    color: #fff;
    background-color: #656464;
    border-color: #656464;
}

    .btn-light:hover {
        color: #fff;
        background-color: #C0C0C0;
        border-color: #C0C0C0;
    }



/*Home Page Product Restyling*/
.product-item {
    margin-bottom: 30px;
    box-shadow: 0 5px 8px 3px #808080;
}

    .product-item .down-content {
        padding: 15px 30px 15px 30px;
        /*padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;*/
        min-height: 175px;
    }

        .product-item .down-content h4 {
            margin-bottom: 20px !important;
        }

        .product-item .down-content h2 {
            font-size: 16px;
            color: black;
            font-weight: 300;
        }

        .product-item .down-content h6 {
            position: absolute !important;
            /*top: 30px !important;
    right: 30px !important;*/
            top: unset;
            right: unset;
            font-size: 1.4em;
        }

        .product-item .down-content span {
            position: absolute !important;
            right: 30px !important;
            bottom: 30px !important;
        }


div.details div.font-weight-bold {
    padding-top: .75em;
}










/*fix media queries!!!!!*/
@media screen and (min-width: 1080px) {
    #rrWrapper {
        padding-left: 20%;
        padding-right: 20%;
    }
}




@media screen and (min-width: 1800px) {

    div.container {
        max-width: 1800px;
    }
}

@media (min-width: 1200px) {

    div.container {
        max-width: 70%;
    }
}

@media (min-width: 992px) {
    div.container {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    div.container {
        width: 90%;
    }

    .psLeft {
        float: unset;
    }

    .psRight {
        float: left;
    }
}

@media (max-width: 575px) {
    .text-sm-center {
        text-align: center !important;
    }
}


@media (min-width: 768px) {
    /*.container {
        max-width: 720px;
    }*/

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    /*.container {
        max-width: 540px;
    }*/
}
