@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 Error";
}
<div id="rrWrapper">
    <div class="col-md-12 text-center max700">
        <h1 class="text-warning" style="padding-top:15vh;">An Error Has Occured</h1>
        <p class="textSwell">
            Dude, that was not supposed to happen! We will get right to work trying to fix the issue.<br />
            In the meantime, you can <a href="/">click here to return to the home page</a>, or try again.<br />
            If behavior persists, please contact site administrator.
        </p>
        <img src="~/Content/assets/images/Error.png" Alt="Error" class="text-center error max80p" />
    </div>
</div>



